* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#bookDisplay {
    display: flex;
    flex-wrap: wrap;
    
    padding: 10px;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    
    height: 150px;
    width: 200px;
    overflow: hidden;
    
    padding: 10px;
    
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgb(150, 150, 150);
    border: 1px solid black;
}

.book > h1 {
    font-size: 1.5rem;
}

.book > h2 {
    font-size: 1rem;
}

.book > p {
    text-align: right;
    margin-top: auto;
}
